



@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



body {
  font-family: "Lato", sans-serif; 
  
}

a {
  color:#c7610e;
}

.content {
  font-size: 1.2rem;
  font-weight: 400;
  
}

.content :where(p):not(:where([class~=not-prose],[class~=not-prose] *)) {
line-height: 2rem;
}

.hx-text-sm {
  font-size: 1rem;
}

.hextra-card-icon {
  font-size: 1.2rem;

}


.hx-bg-primary-100 {
  background-color: #c7610e;
  color:white;
}


.hx-items-start {
  align-items: stretch;
}
