

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
	  font-family: "Roboto", sans-serif;
	  

}
.markdown h2, .markdown h1  {
	  font-family: "Roboto Condensed", sans-serif;
	  font-weight:400;
	  text-transform:uppercase;
	  font-size:26px;
}

.markdown h1 {
	font-size:34px;
	
}
li {
	font-size:16px;
}

article{
	margin-left:50px;
}

img {
	border-radius:3px; 
	border: 2px solid white;
	border: 1px solid grey;
	padding: 5px;
}


.book-brand img {
	height: 2em;
    margin-inline-end: .5rem;
    border: 0;
}